# Liveness probe
location /server/up {
    return 200;
}

# Health probe
location /server/health {
    return 200;
}

# Forward to API Service => /api/*
location ~* ^/api/(.*)$ {
    proxy_pass http://$SERVICE_API_HOST$request_uri;
}

# Forward to Frontend Service => /app/*
location ~* ^/app/(.*)$ {
    proxy_pass http://$SERVICE_FRONTEND_HOST$request_uri;
}

# Forward to Web Service => /*
location ~* ^/(.*)$ {
    proxy_pass http://$SERVICE_WEB_HOST$request_uri;
}
